/* general */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  margin:auto;
}
/* /general */

/* header */
header{
  margin-bottom: 10px;
}

img{
  height: 80px;
}

nav{
  padding: 10px;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
  margin-right: 10px;
}

ul li a{
  text-decoration: none;
  color: #858585;
}

li a:hover{
  color: black;
  border-bottom: 2px solid black;
}
/* /header */

/* corpo principale */

/* sezione jumbotron */
.jumbotron{
  height: 80vh;
  background-color: yellow;
  margin-bottom: 10px;
}
/* /sezione jumbotron */

/* sezione leadership */
.main-section{
  /* height: 80vh; */
  background-color: blue;
}

.top-title{
  height:80px;
  background-color: lightblue;
  margin-bottom: 2%;
}

.column{
  background-color: lightblue;
}

.column.left, .column.right{
  width: 20%;
  float:left;
}

.column.center{
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* /sezione leadership */

/* /corpo principale */

/* footer */
footer{
  height: 60px;
  background-color: purple;
  margin-top: 10px;
}
/* /footer */
