/* general */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  margin:auto;
}

p:not(#jumbotext){
  color: #929292;
}
/* /general */

/* header */
header{
  margin-bottom: 10px;
}

.main-logo{
  height: 80px;
}

nav{
  padding: 10px;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
  margin-right: 10px;
}

ul li a{
  text-decoration: none;
  color: #858585;
}

li a:hover{
  color: black;
  border-bottom: 2px solid black;
}
/* /header */

/* corpo principale */

/* sezione jumbotron */
.jumbotron{
  height: 80vh;
  background-image: url(../img/banner.jpg);
  background-position: center;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  border-radius: 15px;
  z-index: 1;
}

.text{
  color: #ffff;
  width: 50%;
  position: absolute;
  left: 60px;
  bottom: 60px;
  z-index: 2;
}
/* /sezione jumbotron */

/* sezione leadership */

.top-title{
  height:80px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.top-title>h2{
  font-size: 800;
}

.image{
  position: relative;
  display: block;
  object-fit: cover;
  height: 141px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 5px;
  z-index: 0;
}

.column.left, .column.right{
  width: 20%;
  float:left;
}

.column.center{
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* /sezione leadership */

/* /corpo principale */

/* footer */
footer{
  height: 60px;
  text-align: center;
  margin-top: 30px;
}

footer>span{
  color: red;
}
/* /footer */
